<p class="text-center">Listes des mangas</p>

<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let manga of mangaList" class="col">
        <div class="card text-center pt-3">
            <a routerLink="/mangas/{{manga.id}}">
                <img style="width: 350px; height: 500px; object-fit: cover; " src="{{manga.image}}" class="rounded-top card-img-top" alt="...">
            </a>
            <div class="card-body">
                <div *ngIf="manga.title == 'One piece'">
                    <p>Carapute</p>
                </div>
                <div *ngIf="manga.title != 'Carapuce'">
                    <p>{{manga.title}}</p>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
