<p>user works!</p>

<div class="container">
    <div >
        <div *ngFor="let user of users">
            <h3>{{user.id}}</h3>
        <div class="col-md-3">

                <div class="">
                  <a routerLink="/user/{{user.id}}">
                    <p>Nom : {{user.name}}</p>
                  </a>
                </div>
                <div  class="">
                    <p>Prenom : {{user.username}} </p>
                </div>
                <div class="">
                    <p>Email : {{user.email}}</p>
                </div>
            </div>
          <button (click)="selectUser(user)" type="button" class="btn btn-primary">Détail</button>
        </div>
           <app-user-detail [userEnfant]="userParent"></app-user-detail>

    </div>
</div>
